{{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <div class="boutons">
            <a href="{{ path('lieu_index') }}" class="btn btn-primary">Retour à la liste</a>
        </div>
        <div class="boutons">
            <a href="{{ path('ville_new') }}" class="btn btn-primary">Ajouter une ville</a>
        </div>
        <div class="boutons">
            <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
{{ form_end(form) }}
