{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Accueil{% endblock %}

{% block main %}
<main class="container">

    <div class="infos">
        <p>Date du jour : {{ "now" | date("d/m/Y") }}</p>
        <p>Participant : {{ app.user.prenom }} {{ initiales(app.user.nom) }}</p>
    </div>

    {% include 'home/inc/formFiltre.html.twig' %}
    <hr>
    <form action="{{ path('sortie_new') }}" id="creationSortie">
        <button class="btn btn-primary" type="submit">Proposer une nouvelle sortie</button>
    </form><br>

    {% include 'home/inc/tableSorties.html.twig' %}

    <form action="{{ path('sortie_new') }}" id="creationSortie">
        <button class="btn btn-primary" type="submit">Proposer une nouvelle sortie</button>
    </form><br>
    <hr>
</main>





{% endblock %}
