

{# bon fichier #}
    <div class="tableSorties">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                 </tr>
            </thead>
            <tbody>

               {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date('d/m/Y') }} - {{ sortie.dateHeureDebut | date('H') }}H{{ sortie.dateHeureDebut | date('i') }}</td>
                    <td>{{ sortie.dateCloture | date('d/m/Y') }}</td>
                    <td> ++nombre de participants++ / {{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td> {# {% if app.user != sortie.inscriptions.perticipant %} non inscrit
                         {% else %} inscrit
                         {% endif %} #} -- Inscrit ou pas ? --
                    </td>
                    <td><a href="{{ path('afficherProfil', {'id':  sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }} {{ initiales(sortie.organisateur.nom) }}</a></td>
                    <td>
                        <a href="{{ path('sortie_edit', {'noSortie': sortie.noSortie}) }}">Afficher</a>
                        {# {% if app.user != sortie.inscriptions.perticipant %}
                             <a href="{{ path('inscription')}}"> - S'inscrire</a>
                        {% else %}
                            {% if app.user != sortie.organisatur %}
                            <a href="{{ path('seDesister') }}"> - Se désister</a>
                            {% else %}
                            <a href="{{ path('sortie_delete' }}"> - Annuler la sortie</a>
                            {% endif %}
                        {% endif %} #}

                    </td>
                </tr>
               {% endfor %}

            </tbody>
        </table>
    </div>



