

{# bon fichier #}
    <div class="tableSorties">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                 </tr>
            </thead>
            <tbody>

               {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date('d/m/Y') }} - {{ sortie.dateHeureDebut | date('H') }}H{{ sortie.dateHeureDebut | date('i') }}</td>
                    <td>{{ sortie.dateCloture | date('d/m/Y') }}</td>
                    <td>{#  {{ countNbParticipants(sortie) }}#}--nb Participants-- / {{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>{{ isInscrit(sortie, app.User) }}</td>
                    <td><a href="{{ path('afficherProfil', {'id':  sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }} {{ initiales(sortie.organisateur.nom) }}</a></td>
                    <td>
                        <a href="{{ path('sortie_edit', {'noSortie': sortie.noSortie}) }}">Afficher</a>

                        {% if action(sortie, app.user)  == 1 %}
                        <a href="{{ path('inscription', {'noSortie' : sortie.noSortie}) }}"> - S'inscrire</a>
                        {% endif %}
                        {% if action(sortie, app.user) == 2 %}
                        <a href="{{ path('seDesister',{'noSortie': sortie.noSortie}) }}"> - Se désister</a>
                        {% endif %}
                        {% if action(sortie, app.user) == 3 %}
                        <a href="{{ path('sortie_delete') }}"> - Annuler la sortie</a>
                        {% endif %}
                    </td>
                </tr>
               {% endfor %}

            </tbody>
        </table>
    </div>



