


    <div class="tableSorties">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                 </tr>
            </thead>
            <tbody>

               {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date('d/m/Y') }} - {{ sortie.dateHeureDebut | date('H') }}H{{ sortie.dateHeureDebut | date('i') }}</td>
                    <td>{{ sortie.dateCloture | date('d/m/Y') }}</td>
                    <td> ++nombre de participants++ / {{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td> ++User inscrit ou pas++ </td>
                    <td>{{ sortie.organisateur.prenom }} {{ initiales }}</td>
                    <td>++ Liens en fonction de l'état et des organisateurs++ </td>
                </tr>
               {% endfor %}

            </tbody>
        </table>
    </div>



