    <div class="colSortie">
        {{ form_start(form) }}
        <div class="colSortie1">
            {{ form_row(form.nom) }}
            {{ form_row(form.dateHeureDebut) }}
            {{ form_row(form.duree) }}
            {{ form_row(form.dateCloture) }}
            {{ form_row(form.nbInscriptionsMax) }}

        </div>
        <div class="colSortie2">
            {{ form_row(form.description) }}
            {{ form_row(form.organisateur) }}
            {{ form_row(form.campus) }}
        </div>
        <div>
            <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}
        </div>
    </div>




