{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/sortie.css') }}">
{% endblock %}

{% block title %}Modifier la sortie{% endblock %}

{% block main %}

    <div class="row my-2 justify-content-center mx-1">
        <div class="col col-sm-12 col-md-7">
            <h1 class="mt-5">Modifier la sortie</h1>
        </div>
    </div>

    {{ include('sortie/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <div class="row my-4 justify-content-center mx-1">
        <div class="col col-sm-12 col-md-7">
            {% if sortie.etat.id==1 %}
                <div class="boutons">
                    {{ include('sortie/_annuler_form.html.twig') }}
                </div>
            {% endif %}
            <hr>
            {% if sortie.etat.id==0 %}
                <div class="boutons">
                    {{ include('sortie/_publier_form.html.twig') }}
                </div>
                <div class="boutons">
                    {{ include('sortie/_delete_form.html.twig') }}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
