{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/sortie.css') }}">
{% endblock %}

{% block title %}Détail de la sortie{% endblock %}

{% block main %}

    <h1>{{ sortie.nom }}</h1>

    <div class="container-fluid ">

        <div class="row my-1 justify-content-center">
            <div class="etat col-12 col-sm-12 col-md-8">
                &gt; {{ sortie.etat.libelle }}
                {% if sortie.etat.id==5 %}
                    <div class="annulation">
                        Motif :<br>
                        {{ sortie.motifAnnulation }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-sm-12 col-md-5">
                <table class="table table-dark">
                    <tbody>
                        <tr>
                            <th>Date de la sortie</th>
                            <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Durée</th>
                            <td>{{ sortie.duree }} minutes</td>
                        </tr>
                        <tr>
                            <th>Inscriptions jusqu'au</th>
                            <td>{{ sortie.dateCloture ? sortie.dateCloture|date('d/m/Y') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Nombre de places</th>
                            <td>{{ sortie.nbInscriptionsMax }} personnes</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ sortie.description }}</td>
                        </tr>
                        <tr>
                            <th>Organisateur</th>
                            <td>{{ sortie.organisateur.nomPrenom }}</td>
                        </tr>
                        <tr>
                            <th>Campus</th>
                            <td>{{ sortie.campus.nom }}</td>
                        </tr>
                        <tr>
                            <th>Lieu</th>
                            <td>
                                {{ sortie.lieu.nomLieu }}<br>
                                {{ sortie.lieu.rue }}<br>
                                {{ sortie.ville.codepostal }} {{ sortie.ville.nom }}<br>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="col col-sm-12 col-md-3">
                Participants
                <table class="table table-dark">
                    <tbody>
                    {% for inscription in sortie.inscriptions %}
                        <tr>
                            <td>{{ inscription.participant.pseudo }} </td>
                            <td>{{ inscription.participant.nom }} {{ inscription.participant.prenom }}</td>
                            <td><a href="{{ path('afficherProfil', {'id':  inscription.participant.id}) }}">Voir le profil</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Aucun participant.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <div class="row my-1 justify-content-center">
            <div class="col-12 col-sm-12 col-md-8">
                {% if app.user is same as (sortie.organisateur) and sortie.etat.id<3  %}
                    <a href="{{ path('sortie_edit', {'noSortie': sortie.noSortie}) }}" class="btn btn-primary">Modifier</a>
                {% endif %}

                <a href="{{ path('accueil') }}" class="btn btn-primary">Retour à la liste</a>
            </div>
        </div>

    </div>



{% endblock %}
